In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_Demographics.csv")

In [3]:
df.head()

,StudyID,ParticipantID,Age,Gender,Height,Handedness,EyeDominance,Home Country,Profession,# VR,VR device
0,1,1,25,m,194,right,right,Germany,"Student, self-employed",>3,Vive/Oculus/Cardboard
1,1,2,20,f,190,right,left,Germany,Student,>3,no
2,2,3,26,m,175,right,right,India,Student,1-2,no
3,2,4,25,m,174,right,left,Germany,Student,1-2,no
4,3,5,35,m,178,right,right,Argentina,PhD Student,no,NaN

In [4]:
df.Age.describe().round(1)

count    24.0
mean     23.9
std       4.1
min      17.0
25%      21.8
50%      22.5
75%      25.2
max      35.0
Name: Age, dtype: float64

In [5]:
df.Gender.value_counts()

m    19
f     5
Name: Gender, dtype: int64

In [6]:
df['Home Country'].value_counts()

Germany      16
India         2
Egypt         2
Argentina     1
Kosovo        1
Spain         1
France        1
Name: Home Country, dtype: int64

In [7]:
df.EyeDominance.value_counts()

right    13
left      9
both      2
Name: EyeDominance, dtype: int64

In [8]:
df.Profession.value_counts()

Student                   21
Student, self-employed     1
Medieninformatin           1
PhD Student                1
Name: Profession, dtype: int64

In [9]:
df['VR device'].value_counts()

no                       21
GearVR                    1
Vive/Oculus/Cardboard     1
Name: VR device, dtype: int64