In [1]:
OUTPUT_PATH = "./out/"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data_Demografics.csv")

In [4]:
df.head()

,Session,UserId,Handedness,Age,Gender,Country,Profession,Eye,Experience,Device
0,1,2,R,35,m,Germany,Researcher,R,3,n
1,1,1,R,26,m,Isreal,Student,R,0,n
2,2,4,R,21,f,Germany,Student,R,1-2,n
3,2,3,R,21,f,Germany,Student,L,1-2,n
4,4,6,R,20,f,Germany,Student,L,3,n

In [5]:
df.Age.describe().round(1)

count    28.0
mean     24.5
std       5.4
min      19.0
25%      21.0
50%      22.5
75%      25.2
max      41.0
Name: Age, dtype: float64

In [6]:
df.Gender.value_counts()

m    19
f     9
Name: Gender, dtype: int64

In [7]:
df.Country.value_counts()

Germany       20
China          2
Canada         2
Isreal         1
France         1
Italy          1
Azerbaijan     1
Name: Country, dtype: int64

In [8]:
df.Eye.value_counts()

R    23
L     5
Name: Eye, dtype: int64

In [9]:
df.Profession.value_counts()

Student       25
Researcher     3
Name: Profession, dtype: int64

In [10]:
df.Experience.value_counts()

1-2    12
3      10
0       6
Name: Experience, dtype: int64